$path: '../fonts';
$folder: '/icomoon';

@font-face {
  font-family: 'icomoon';
  src: url('#{$path}#{$folder}/icomoon.ttf?94qgs3') format('truetype'),
  url('#{$path}#{$folder}/icomoon.woff?94qgs3') format('woff'),
  url('#{$path}#{$folder}/icomoon.svg?94qgs3#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Arrow-Icon:before {
  content: "\e900";
}
.icon-Play-Icon:before {
  content: "\e903";
}
.icon-close-button:before {
  content: "\e902";
}
.icon-menu-button:before {
  content: "\e90a";
}
.icon-arrow-down:before {
  content: "\e915";
}
.icon-twitter:before {
  content: "\e901";
}
