@import "base/variables";
@import "base/grid";
//@import "base/include-media";
@import "base/mixins";
@import "base/colors";
@import "common/reboot";
@import "common/typography";

@import "components/buttons";
@import "components/banner";
@import "components/slider";
@import "components/card";


@import "layout/header";
@import "layout/footer";
@import "layout/main";

@import "pages/page-index";




.checkbox-wrap {
  display: flex;
  flex-direction: column;
}

.checkbox-wrap2 {
  display: none;
}